// 异步加载的暗黑模式 暗黑模式 CSS 变量

async_dark()
  // 首屏暗黑模式 CSS 变量
  --color-site-body $color-dark-site-body
  --color-read-bkg $color-dark-read-bkg
  --color-read-post $color-dark-read-post
  --color-site-bg $color-dark-site-bg
  --color-site-inner $color-dark-site-inner
  --color-site-footer $color-dark-site-footer
  --color-card $color-dark-card
  --color-text $color-dark-text
  --color-block $color-dark-block
  --color-codeblock $color-dark-codeblock
  --color-inlinecode $color-dark-inlinecode
  --color-h1 $color-dark-h1
  --color-h2 $color-dark-h2
  --color-h3 $color-dark-h3
  --color-h4 $color-dark-h4
  --color-h5 $color-dark-h5
  --color-h6 $color-dark-h6
  --color-p $color-dark-p
  --color-list $color-dark-list
  --color-list-hl $color-dark-list-hl
  --color-meta $color-dark-meta
  --color-link $color-dark-link
  --color-copyright-bkg $color-dark-copyright-bkg
  --color-white-png #b2b2b2
  --color-img-error #21252b

  // Stellar tag plugin 基础色
  --c-site-bg black
  --c-block #111
  --c-title #fff
  --c-text #fff
  --c-card #333

  // Stellar tag plugin 派生色
  --block-hover unquote('color-mix(in srgb, var(--c-block) 95%, var(--c-text))')
  --text-p1 var(--c-text)
  --text-p3 unquote('color-mix(in srgb, var(--c-text) 60%, var(--c-site-bg))')
  --card var(--c-card)

  // Custom Files
  for $injects_darkVar in hexo-config('injects.darkVar')
    @import $injects_darkVar;

@media (prefers-color-scheme: dark)
  :root
    --color-mode: 'dark'
  :root:not([color-scheme])
    async_dark()
    @import 'dark_plugins'
[color-scheme='dark']
  async_dark()
  @import 'dark_plugins'
