#comments
  overflow: inherit
#artalk_container
  input,textarea,
  .atk-send-btn,
  .atk-item.atk-nick a
    font-size 0.9rem
  .atk-header,.atk-comment-count,
  .atk-right-action>span,
  .atk-actions>span,
  .atk-actions-new>span,
  .artalk pre code,
  .atk-layer-wrap pre code
    font-size 0.8rem
  font-family $fontfamily
  font-size 0.9rem
  code
    *
      font-family $fontfamily-code
    color var(--color-inlinecode)
    font-family $fontfamily-code
    &:before
      margin-top -5px
  .atk-editor-plug-emoticons
    max-width: 496px
    height: 243px
  .atk-content 
    img[src*="huyao"]
      width 100px
      max-height 100px
    img[src*="aniya"]
      width 210px
      max-height 210px
      display block
      border-radius 8px
    img[src*="qq"]
      height 39px
      width 39px
  .atk-grp>.atk-item
    width unset !important
    height unset !important
    img
      height 53px
      width 53px
    img[src*="quyin"]
      height 53px
      width 53px
    img[src*="huyao"]
      height 80px
      width 80px
    img[src*="aniya"]
      border-radius 4px
      height 80px
      width 80px
    img[src*="qq"]
      height 38px
      width 38px
  .atk-header .atk-badge
    padding: 0.2rem


#artalk_container
  img[atk-emoticon].error
    width: 53px
    height: 53px
    min-height: 53px
    min-width: 53px
    margin: 0 5px
    border-radius: 6px
    &[alt]:after
      content: attr(alt)
    &:after
      font-size .5rem
      content: '表情加载失败'
  .atk-editor-plug-emoticons img[atk-emoticon]
    &.error
      min-width: max-content
      &:after
        font-size: 0.6rem
    &[atk-emoticon][src*="qq"].error:after
      font-size: 0.5rem
  .atk-avatar img.error
    min-width 48px
    min-height 48px
    &:before
      border-radius unset
  .atk-comment-children .atk-avatar img.error
    min-width 36px 
    min-height 36px

#owo-big
  &:has(img[src*="common/emoji"].error)
    display none !important
  p
    margin-top -4px !important
