//=============================//
// 自定义样式 提供可复用的样式  //
//============================//



//======================================//
// 页脚自定义响应式处理
.footerMax560
  @media screen and (max-width: 560px)
    display: none

.footerMax490
  @media screen and (max-width: 490px)
    display: none
    
.footerMax380
  @media screen and (max-width: 380px)
    display: none
//======================================//



//======================================//
// 禁止选中
.not-select,
figcaption,
footer,
section,
details summary,
.new-meta-box,
.prev-next,
.atk-main-editor,
.atk-list-header,
.nav-tabs
  -webkit-touch-callout none
  -webkit-user-select none
  -khtml-user-select none
  -moz-user-select none
  -ms-user-select none
  user-select none
  & p,
  & span
    cursor: $default,default
  &.default-cursor
    cursor: $default,default !important
  & a span
    cursor: $pointer,pointer !important
.allow-select
  -webkit-touch-callout all
  -webkit-user-select all
  -khtml-user-select all
  -moz-user-select all
  -ms-user-select all
  user-select all
//======================================//



//======================================//
// 隐藏文本
// <span class="bb_spoiler" title="xxx">xxxx</span>
.bb_spoiler, .bb_spoiler a, a .bb_spoiler, .bb_spoiler a.new
  cursor: $pointer,pointer
  border-bottom 1px solid
  border-color var(--color-p)
  background-color var(--color-card)
  color var(--color-card)
  text-shadow none
  padding 0 2px
  margin 0 2px
.bb_spoiler:hover, .bb_spoiler:active,
  .bb_spoiler:hover .bb_spoiler, .bb_spoiler:active .bb_spoiler
  color var(--color-p) !important
.bb_spoiler
  &:hover
    opacity 1
    transition-duration 0.3s
//======================================//



//======================================//

// 文章页自定义背景
.cus-article-bkg
  @media screen and (max-width: $device-mobile)
    display: none
  background-size: cover
  background-position: center
  position: fixed
  top: 0
  bottom: 0
  right: 0
  left: 0
  z-index: -10
//======================================//



//======================================//
// 文章页导航栏修饰：剧中、加粗等
.fix-header-title
  margin: 0 auto
  font-size: 1.5rem
  overflow: hidden
  font-weight: 800 !important
  @media screen and (max-width: $device-mobile)
    margin: unset !important
    font-size: 1rem !important
//======================================//


//======================================//
// 自定义的淡入淡出
.content-in
  animation: content-fadeIn
  animation-duration: 1s
.content-out
  animation: content-fadeOut
  animation-duration: 1s
@keyframes content-fadeIn {
  0% {opacity: 0;}
  50% {opacity: 0;}
  100% {opacity: 1;}
}
@keyframes content-fadeOut {
  0% {opacity: 1;}
  50% {opacity: 0;}
  100% {opacity: 0;}
}
//======================================//


//======================================//
// 插件
.widget 
  div.tabs
    margin 0
    border none
    .nav-tabs
      border-top 1px solid rgba(68,68,68,0.2)
      border-left 1px solid rgba(68,68,68,0.2)
      border-right 1px solid rgba(68,68,68,0.2)
      border-top-left-radius 8px
      border-top-right-radius 8px
      li.tab
        flex 1
        &:last-child
          padding-right 0
    .tab-content
      font-size 14px
      p
        text-align center
        span
          font-weight bold
          padding 0 8px
      .tab-pane-content
        text-align center
        margin-top 0.5rem
    ul, p
      margin 0

.tab-artalk-line
  ul
    li
      margin-top: 5px;
      display: inline-flex;
      align-items: center;
      width: 100%;
      span
        background-color: #bebebe;
        color: #fff;
        width: 20px;
        min-width: 20px;
        line-height: 20px;
        display: inline-table;
        text-align: center;
        border-radius: 2px;
        margin-right: 5px;
      &:nth-child(-n+3)
        span
          background-color #f00
      a
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    
.tab-artalk-comment
  li
    margin-top: 5px !important;
    display: inline-flex;
    align-items: center;
    width: 100%;
  .avatar
    width: 20%;
    margin-right: 5px;
    img
      width: 36px;
      height: 36px;
      border-radius: 50%;
  .main
    width: 80%
    p
      font-size: 14px;
      text-align: left !important;
      color: var(--color-p);
      word-break: break-all;
      &:first-child
        font-weight: bold;