/////////////////
// 样式覆盖区域 //
/////////////////

html,
a:not([href]),
a:not([href]) p,
p > img,
p > svg,
p.title,
p.subtitle,
picture,
.fix-cursor-default
  cursor $default

a,
a.fa-fw,
button span,
btn-close span,
.menuitem span,
#post-body img:not([fancybox]),
.atk-content img:not([atk-emoticon])
  cursor $pointer

span,
input,
pre > span,
textarea,
figure.pre,
article p
  cursor $text

/////////////////
// 强制覆盖区域 //
/////////////////

.atk-cancel,
.atk-plug-btn,
.atk-send-btn,
.atk-send-reply,
.atk-dropdown-wrap,
.atk-dropdown-item > span,
.atk-right-action > span,
.atk-grp-switcher > span,
.atk-grp > span,
.atk-actions-new > span,
.atk-common-action-btn,
.fancybox__container button,
.fancybox__container a,
.atk-footer-normal span,
.carousel__button,
.fancybox__thumbs .carousel__slide
  cursor $pointer !important

.fancybox__viewport.is-draggable,
.is-draggable .fancybox__content,
.fancybox-image img
  cursor $grab !important

.fancybox__caption
  cursor $text !important

.can-zoom_in .fancybox__content
  cursor $zoom-in !important

.can-zoom_out .fancybox__content
  cursor $zoom-out !important
