if hexo-config('plugins.code_highlight')
  @import '_highlight'
if hexo-config('plugins.rightmenus.enable')
  @import '_rightmenu/*'

if hexo-config('search.enable')
  if hexo-config('search.service')=='hexo'
    @import '_search/hexo'
  else if hexo-config('search.service')=='algolia'
    @import '_search/algolia'
  else if hexo-config('search.service')=='meilisearch'
    @import '_search/meilisearch'

// 暗黑模式样式放到最后加载
if hexo-config('plugins.darkmode.enable')
  @import '_dark/dark_async'

// Artalk 评论系统
if hexo-config('comments.service') == 'artalk'
  @import '_artalk/*'