
<%- partial('_pre') %>
<section class="widget <%- item.class %> <%- page.widget_platform %> <%- page.widget_pjax %>">
  <div class="site-brand-wrapper">
    <div class="site-meta ">
      <a href="/page/about/" class="brand" rel="start">
        <h1 class="site-title">枋柚梓的猫会发光</h1>
      </a>
      <p class="site-subtitle" itemprop="description">繁星永存，记忆亘古不变。</p>
    </div>
  </div>
  <nav class="site-nav">
    <ul class="next-main">
      <li class="next-main-item">
        <a href="/" rel="section">
          <i class="menu-item-icon fa-light fa-home fa-fw"></i>- 首页 °| Home
        </a>
      </li>
      <li class="next-main-item">
        <a href="/categories/" rel="section">
          <i class="menu-item-icon fa-light fa-th fa-fw"></i>- 分类 °| Categories
        </a>
      </li>
      <li class="next-main-item">
        <a href="/archives/" rel="section">
          <i class="menu-item-icon fa-light fa-archive fa-fw"></i>- 归档 °| Archives
        </a>
      </li>
      <li class="next-main-item">
        <a href="/page/info/" rel="section">
          <i class="menu-item-icon fa-light fa-object-group fa-fw"></i>- 留言 °| Message
        </a>
      </li>
      <li class="next-main-item">
        <a href="/page/friends/" rel="section">
          <i class="menu-item-icon fa-light fa-link fa-fw"></i>- 友链 °| Friends
        </a>
      </li>
      <li class="next-main-item">
        <a href="https://www.foreverblog.cn/go.html" target="_blank" rel="external nofollow noopener noreferrer">
          <i class="menu-item-icon fa-light fa-bullseye-pointer fa-fw"></i>- 虫洞 °| Wormhole
        </a>
      </li>
    </ul>
  </nav>
</section>