<div id="twikoo_container">
  <i class="fal fa-cog fa-spin fa-fw fa-2x"></i>
</div>

<script src="https://beaudar.lipk.org/client.js"
  repo="inkss/blog-comments"
  issue-term="pathname"
  theme="github-light"
  input-position="top"
  crossorigin="anonymous"
  async>
</script>
