div#rightmenu-wrapper
  display none
  position fixed
  z-index 2147483648
  user-select none
  &.active
    display block

ul.list-v.rightmenu
  display block
  max-width 240px
  min-width 170px
  overflow hidden
  position relative

  li.menuNavigation-Content
    a
      cursor $pointer

  li.menuLoad-Content
    display none
    a, span
      cursor $pointer
      display flex
      justify-content flex-start
      align-items center
      svg.feather
        margin-right $gap * 0.5
    &.active
      display block

  $cellH = 32px

  a.vlts-menu
    text-overflow ellipsis
    overflow hidden
    line-height $cellH
    font-weight normal

  >li>span
    display block
    color var(--color-list)
    font-size $fontsize-meta
    line-height 36px
    @media screen and (max-width: $device-laptop)
      line-height 40px
    padding 0 $gap + $border-line + 2px 0 $gap
    text-overflow ellipsis
    margin 0 4px
    border-radius 4px
    >i
      margin-right 8px
    &:active, &.active
      list_active()
    &:hover
      list_hover()

  li.navigation
    display flex
    justify-content space-around
    a.icon-only
      line-height 0
      margin 0
      padding 0
      border-radius $cellH
      overflow hidden
      width $cellH
      height $cellH
    a.nav
      i
        margin 0
        width $cellH
        line-height $cellH
    a:has(svg.feather)
      display flex
      align-items center
      justify-content center
