// 全局基础样式和 CSS 变量定义
:root
  // CSS 变量定义
  --color-site-body $color-site-bg
  --color-site-bg $color-site-bg
  --color-site-inner $color-site-inner
  --color-site-footer $color-site-footer
  --color-card $color-card
  --color-text $color-text
  --color-block $color-block
  --color-inlinecode $color-inlinecode
  --color-codeblock $color-codeblock
  --color-h1 $color-h1
  --color-h2 $color-h2
  --color-h3 $color-h3
  --color-h4 $color-h4
  --color-h5 $color-h5
  --color-h6 $color-h6
  --color-p $color-p
  --color-list $color-list
  --color-list-hl $color-list-hl
  --color-meta $color-meta
  --color-read-bkg $color-read-bkg
  --color-read-post $color-read-post
  --color-copyright-bkg $color-copyright-bkg
  --color-white-png #fff
  --color-img-error #f5f5f5
  // tag plugin from stellar 基础色
  --c-site-bg: #f8f8f8
  --c-block: #f2f2f2
  --c-title: #000
  --c-text: #222
  --c-card: #fff
  // tag plugin from stellar 派生色
  --block-hover: unquote('color-mix(in srgb, var(--c-block) 98%, var(--c-text))')
  --text-p1: var(--c-text)
  --text-p3: unquote('color-mix(in srgb, var(--c-text) 60%, var(--c-site-bg))')
  --card: var(--c-card)

// 文本选中样式
::-moz-selection
  background: $color-selection

::selection
  background: $color-selection

// 标题字号
h1
  font-size: $fontsize-h1
h2
  font-size: $fontsize-h2
h3
  font-size: $fontsize-h3
h4
  font-size: $fontsize-h4
h5
  font-size: $fontsize-h5
h6
  font-size: $fontsize-h6

h1, h2, h3, h4, h6
  font-weight: normal

// 基础元素样式
a:not([href])
  cursor: $default

pre
  tab-size: 4

// 工具类
.clearfix
  zoom: 1
  &:before, &:after
    content: " "
    display: table
  &:after
    clear: both

.hidden
  text-indent: -9999px
  visibility: hidden
  display: none

// 布局基础
.inner
  position: relative
  width: 80%
  max-width: 710px
  margin: 0 auto

.vertical
  display: table-cell
  vertical-align: middle

// HTML5 元素
article, aside, details, figcaption, figure, footer, hgroup, main, menu, nav, section, summary
  display: block

article
  overflow: hidden

abbr[title]
  border-bottom: 1px dotted
b, strong
  font-weight: bold
dfn
  font-style: italic
h1
  font-size: 2em
  margin: 0.67em 0
mark
  background: #ff0
  color: #000
small
  font-size: 80%
sub, sup
  font-size: 50%
  line-height: 1em
sup
  vertical-align: text-top
sub
  vertical-align: text-bottom

figure
  margin: 1em 40px

pre
  overflow: auto

span.dot, span.sep
  font-size: 0.9em
  margin: 0 .2rem
span.dot:before
  content: '\·'
span.sep:before
  content: '/'

// 代码字体
code, kbd, pre, samp
  font-family: monospace, monospace
  font-size: 1em

optgroup, select, textarea
  color: inherit
  font: inherit
  margin: 0

// 表单元素
select
  text-transform: none

html input[type="button"], input[type="reset"], input[type="submit"]
  appearance: button
  cursor: $pointer

button[disabled], html input[disabled]
  cursor: $default

button::-moz-focus-inner, input::-moz-focus-inner
  border: 0
  padding: 0

input[type="checkbox"], input[type="radio"]
  box-sizing: border-box
  padding: 0

input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button
  height: auto

input[type="search"]
  appearance: textfield
  box-sizing: content-box

input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration
  appearance: none

fieldset
  border: 1px solid #c0c0c0
  margin: 0 2px
  padding: 0.35em 0.625em 0.75em

legend
  border: 0
  padding: 0

textarea
  overflow: auto

optgroup
  font-weight: bold

// 无类名表格
table:not([class])
  border-collapse: collapse
  overflow: auto
  display: inline-block
  max-width: 100%
  vertical-align: text-top
  th
    background-color: darken($color-block, 2)
  td, th
    padding: 8px 16px
    border: 2px solid darken($color-block, 2)
    line-height: 1.5
    font-size: 90%
  tr
    word-break: keep-all
    background-color: lighten($color-block, 3)
    &:hover
      background-color: darken($color-block, 2)

td, th
  padding: 0

.fa-spin
  display inline-block
  animation spin 2s linear infinite

.article-title,
.widget header,
.md .footer .header
  font-family $fontfamily-logo

// 基础 reset
*
  box-sizing border-box
  outline none
  margin 0
  padding 0
  scrollbar()

html
  color var(--color-text)
  width 100%
  height 100%
  font-family $fontfamily
  font-size $fontsize-root
  if hexo-config('custom_css.scrollbar.size')
    scrollbar(convert(hexo-config('custom_css.scrollbar.size')), convert(hexo-config('custom_css.scrollbar.border')) || 0px)

body
  background-color var(--color-site-body)
  text-rendering optimizelegibility
  -webkit-tap-highlight-color rgba(0, 0, 0, 0)
  line-height $lineheight
  text-size-adjust: 100%
  &.modal-active
    overflow hidden
    @media screen and (max-width: $modal-threshold)
      position fixed
      top 0
      right 0
      bottom 0
      left 0

a
  color $color-link
  cursor $pointer
  text-decoration none
  trans()
  &:active, &:hover
    outline 0

ul, ol
  padding-left 0
  li
    list-style none

header
  display block

img
  border 0
  background none
  max-width 100%

svg:not(:root)
  overflow hidden

hr
  box-sizing content-box
  height 0
  border 0
  border-radius 1px
  border-bottom 1px solid alpha($color-text, .1)

article hr
  background-image none
  height 2em
  border none
  margin 1em 0
  text-align center
  &:after
    content "\00B7\00B7\00B7"
    letter-spacing 2em
    padding-left 2em
    font-weight 700

button, input
  color inherit
  font inherit
  margin 0

button
  overflow visible
  text-transform none
  appearance button
  cursor $pointer

.blur
  @supports (backdrop-filter: blur(20px))
    background alpha($color-card, .9) !important
    backdrop-filter saturate(200%) blur(20px)


.shadow
  box-shadow $boxshadow-card
  &.floatable
    trans()
    &:hover
      box-shadow $boxshadow-card-float

// 首屏灰色
html.grayscale::before
  content ""
  position absolute
  inset 0
  backdrop-filter grayscale(95%)
  z-index 5000
  pointer-events none

// 禁止选中
.not-select, figcaption, footer, section:not(.footnotes), details summary,
.new-meta-box, .prev-next, .atk-main-editor, .atk-list-header, .nav-tabs,
.copyright.license, .comment-policy, .commentTitle, .headimg-div
  user-select none
  & p, & span
    cursor $default
.allow-select
  user-select all

// 隐藏文本
.bb_spoiler, .bb_spoiler a, a .bb_spoiler, .bb_spoiler a.new
  cursor $pointer
  border-bottom 1px solid var(--color-p)
  background-color var(--color-card)
  color var(--color-card)
  text-shadow none
  padding 0 2px
  margin 0 2px
.bb_spoiler:hover, .bb_spoiler:active, .bb_spoiler:hover .bb_spoiler, .bb_spoiler:active .bb_spoiler
  color var(--color-p)
.bb_spoiler:hover
  opacity 1
  transition-duration 0.3s

// 自定义的淡入淡出
.content-in
  animation content-fadeIn 1s ease-in-out

// iconfont 自定义图标样式修饰
.iconfont
  width 1em
  height 1em
  vertical-align -0.15em
  fill currentColor
  overflow hidden
  &.emoji
    width 1.5em
    height 1.5em
    vertical-align -0.3em

// 图标颜色自定义
// https://flatuicolors.com/palette/defo
svg.feather
  vertical-align: middle
  width 16px
  height 16px
  &.TURQUOISE
    color: #1abc9c
  &.EMERALD
    color: #2ecc71
  &.PETERRIVE
    color: #3498db
  &.AMETHYST
    color: #9b59b6
  &.WETASPHALT
    color: #34495e
  &.GREENSEA
    color: #16a085
  &.NEPHRITIS
    color: #27ae60
  &.BELIZEHOLE
    color: #2980b9
  &.WISTERIA
    color: #8e44ad
  &.MIDNIGHTBLUE
    color: #2c3e50
  &.SUNFLOWER
    color: #f1c40f
  &.CARROT
    color: #e67e22
  &.ALIZARIN
    color: #e74c3c
  &.CLOUDS
    color: #ecf0f1
  &.CONCRETE
    color: #95a5a6
  &.ORANGE
    color: #f39c12
  &.PUMPKIN
    color: #d35400
  &.POMEGRANATE
    color: #c0392b
  &.SILVER
    color: #bdc3c7
  &.ASBESTOS
    color: #7f8c8d